body {
  background-color: #F4F8FB;
margin:0px;
}

/* header */

.main-logo {
  width: 5rem;
  margin-top: -5px;
    width:125px;
    padding-left: 20px;
    padding-right: 20px;
}


.bg-nav {
  margin-right: 2em;
}

.bg-nav:hover {

  background-color: #e1eaf0;
  border-radius: 0.25em;

}

.bg-nav-active {
  background-color: #e1eaf0;
  border-radius: 0.25em;
}



/* header ends */

.main {
  padding-top: 25px;
  background-color: #F4F8FB;
  padding-bottom: 25px;
}

.option {
background-color:white;
text-align: center;
color:gray;
padding-top:4em;
padding-left: 2em;
padding-right:2em;
border-radius: 5px;
border: 1px solid #E4ECF1;
min-height: 500px;

}

.option p {
  color:#red;
}

.main-icon {
  font-size:10em;
  color:#006FBA;
  padding-bottom:25px;
}

h1.option {
  font-size:14em;
  color:#red;
}

.box {

}

.mainArea {
  margin-top:3em;
  margin-bottom:3em;

}

/* Footer */

#footer {
  background-color:#EDF1F2;
  min-height: 110px;
  padding-top: 40px;
  padding-bottom:35px;
  padding-left: 50px;
  color:gray;
}
