/* body {
  background-color:#fff;
margin:0px;
} */

.main-logo {
  width: 5rem;
  margin-top: -5px;
    width:125px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-active-1 {
  background-color:
#e1eaf0;
margin-right: 20px;
padding: 0px 10px;
border-radius: 5px;
color:black;
}

.nav-item {
  margin-right: 20px;
  color:black;
}



#main {
  padding-top: 25px;
  background-color: #F4F8FB;
  padding-bottom: 25px;
}

.option {
background-color:white;
text-align: center;
color:#006FBA;
padding-top:25px;
border-radius: 5px;
border: 1px solid #E4ECF1;
min-height: 500px;

}

.main-icon {
  font-size:14em;
  color:#006FBA;
  padding-bottom:25px;
}

h1.option {
  font-size:14em;
  color:#006FBA;
}

.box {

}

#footer {
  background-color:#EDF1F2;
  min-height: 110px;
  padding-top: 40px;
  padding-bottom:35px;
  padding-left: 50px;
  color:gray;
}
